aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
anyio==4.9.0
attrs==25.3.0
azure-core==1.32.0
azure-cosmos==4.9.0
azure-functions==1.21.3
azure-identity==1.21.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
Deprecated==1.2.18
dnspython==2.7.0
frozenlist==1.5.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
microsoft-kiota-abstractions==1.9.3
microsoft-kiota-authentication-azure==1.9.3
microsoft-kiota-http==1.9.3
msal==1.32.0
msal-extensions==1.3.1
msgraph-core==1.3.3
multidict==6.2.0
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
propcache==0.3.1
pycparser==2.22
PyJWT==2.10.1
pymongo==4.11.3
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
sniffio==1.3.1
std-uritemplate==2.0.3
typing_extensions==4.13.0
urllib3==2.3.0
wrapt==1.17.2
yarl==1.18.3
zipp==3.21.0
